/* header.css */
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
a, a:link, a:visited{
  color:inherit;
  text-decoration:none;
}
li{
  list-style:none;
}
.container{
  width:1140px;
  margin:0 auto;
}
header{
  position:fixed;
  color:black;
  top:0;
  z-index:1000;
  width:100%;
  padding:1rem;
  background-color:white;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container{
  display:flex;
  justify-content:space-between;
  align-items:center;
  width:100%;
}
header h1 {
  margin-top: 0;
  margin-bottom: 0;
}
header nav ul{
  display:flex;
  margin: auto;
}
header nav ul li{
  padding:10px;
}
header button{
  background: transparent;
  border:0;
  cursor: pointer;
}
header h1 button{
  font-size: 2rem;
  font-weight: bold;
}
header nav ul li button{
  font-size: 1.2rem;
}
/* End header.css */

/* carousel.css */
#carousel {
  margin-top: 100px;
}
/* End carousel.css */

section{
  padding:5rem 0;
}
section:nth-child(2n){
  background-color:#f8f8f8;
}
section .title{
  margin-bottom:3rem;
}
section .title h2{
  font-size:3.5rem; 
}

/* about.css */
section .about-content::after{
  content:"";
  clear:both;
  display:block;
}
section .about-content .left{
  width:40%;
  float:left;
}
section .about-content .left img{
  max-width:100%;
}
section .about-content .right{
  width:60%;
  float:left;
  padding:0 2rem;
}
section .about-content .right .social a{
  font-size:2rem;
  margin-right:0.2rem;
}
/* End about.css */


/* plants.css */
section .grid-container::after{
  content:"";
  display:block;
  clear:both;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.do-inner {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  background-color:#fff;
  cursor:pointer;
}
.do-inner .content h3 {
  margin: 15px
}
.content img {
  max-width: 90%;
  height: auto;
}
section .grid-container .do-inner:hover{
  background-color:#f78b00;
  color:white;
}
/* End plants.css */

/* tips.css */
.youtube__flex {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}
.youtube__flex iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* End tips.css */

/* contact.css */
.description {
  text-align: center;
  margin: 20px;
}
.description pre {
  margin: 0;
}
section.contact .contact-content::after{
  content:"";
  display:block;
  clear:both;
}
section.contact .contact-content .left{
  width:30%;
  float:left;
}
section.contact .contact-content .right{
  float:left;
  width:65%;
  margin-left:5%;
}
section.contact .contact-content .left .card{
  border:1px solid #ccc;
  padding:1rem;
  display:flex;
  align-items:center;
  margin-bottom:1.25rem;
}
section.contact .contact-content .left .card .icon i{
  font-size:2rem;
  margin-right:15px;
}
section.contact .contact-content .right{ 
  float:left;
  width:65%;
  margin-left:5%;
  margin-bottom:2rem;
  border:1px solid #ccc;
  padding:1rem;
}
section.contact .contact-content .right .form-group{
  margin-bottom:1.25rem;
}
section.contact .contact-content .right .form-group label{
  display:block;
  margin-bottom:0.85rem;
}
section.contact .contact-content .right .form-group input{
  padding:0.625rem;
  width:100%;
  outline:none;
  border:1px solid #ccc;
  border-radius:10px;
}
section.contact .contact-content .right .form-group input:focus{
  border:1px solid #719ECE;
  box-shadow:0 0 10px #719ECE;
}
section.contact .contact-content .right .form-group textarea{
  height:300px;
  width:100%;
  resize:none;
  border:1px solid #ccc;
  border-radius:10px;
}
section.contact .contact-content .right .form-group textarea:focus{
  outline:none;
  border:1px solid #719ECE;
  box-shadow:0 0 10px #719ECE;
}
section.contact .contact-content .right button{
  width:100%;
  padding:1rem;
  background-color:#f78b00;
  border:none;
  color:white;
}
/* End contact.css */

/* plant01~06.css */
section .plant-content::after{
  content:"";
  clear:both;
  display:block;
}
section .plant-content .left{
  width:30%;
  float:left;
  position: relative;
  display: inline-block;
}
section .plant-content .left img{
  max-width:100%;
  display: block;
}
section .plant-content .left a{
  position: absolute;
  bottom: 6.4%;
  right: 6.4%;
  padding: 7px 13px;
  border-radius: 17px;
  box-shadow: 0 10px 20px 0 rgba(0,0,0,.1);
  background: rgba(255,255,255,.3);
  color: #fff;
  -webkit-text-fill-color: #fff;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: normal;
  z-index: 1000
}
section .plant-content .right{
  width:70%;
  float:left;
  padding:0 2rem;
}
/* End plant01~06.css*/

/* media.css */
@media screen and (max-width: 1140px){
  main .container{
    width: 992px;
  }
  section .container{
    width:600px;
  }
  section .about-content .left{
    width:100%;
    margin-bottom: 1.5rem;
  }
  section  .about-content .right{
    width:100%;
    padding:0;
  }
  section .grid-container .do-inner{
    width:48%;
    margin-bottom: 1.5rem;
    margin-right: 0;
  }
  section .grid-container .do-inner:nth-child(2n+1){
    margin-right:4%;
  }
  section.contact .contact-content .left{
    width:100%;
  }
  section.contact .contact-content .right{
    width:100%;
    margin-left: 0;
    
  }
}

@media (max-width: 992px){
  html{
    font-size: 14px;
  }
  main .container{
    width: 768px; /* 992px -> 768px */
  }
}

@media (max-width: 768px){
  html{
    font-size: 13px;
  }
  main .container{
    width: 576px; /* 768px -> 576px */
  }
  section .container{
    width:400px; /* 600px -> 400px */
  }
  section .grid-container .do-inner{
    width:100%; /* 48% -> 100% */
    margin-right: 0; /* margin 초기화 */
  }
}

@media (max-width: 576px){
  html{
    font-size: 12px;
  }
  main .container{
    width: 400px; /* 576px -> 400px */
  }
  section .container{
    width:360px; /* 400px -> 360px */
  }
}

@media (max-width: 400px){
  html{
    font-size: 11px;
  }
  main .container{
    width: 320px;/* 400px -> 320px */
  }
  main h4{
    font-size: 1.5rem;
  }
  section .container{
    width: 320px;/* 360px -> 320px */
  }
  section .title h2{
    font-size: 3rem; /* 3.5rem -> 3rem */
  }
}